.btn-text {
    width: 47px;
    height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.15px;
    color: white;
}

.theme-green {
    padding: 11px 109px;
    width: 270px;
    height: 44px;
    background: #31AE54;
    border-radius: 5px;
    cursor: pointer;
}


