:root {
    --z-active-slide: 10;
    --grey: #404040;
    --green: #31AE54;
    --borders: #D3D3D3;
    --lightGray: #9E9E9E;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
    font-size: 14px;
    line-height: 1.8;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
    }
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 80px;
}

p {
    margin: 0;
}

svg {
    display: block;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

*, *:after, *:before {
    box-sizing:border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    overflow-y: auto;
}

.x-container {
    width: 1200px;
    height: 276px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/*#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}*/
