.icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 13%;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 85%;
}

.home {
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 85%;
}

.group-sing-profile {
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.stories {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 10%;
    top: 15%;
}

.logo {
    position: absolute;
    left: -0.11%;
    right: 0.11%;
    top: 10%;
    bottom: 1.22%;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
}

.post-frame {
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 63%;
    height: 10%;
    left: 12%;
    top: 6%;
}