.icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.post {
    width: 979px;
    padding-top: 100px;
}

.list-wrapper {
    display:flex;
    justify-content: center;
}

.home {
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-sing-profile {
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.stories {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}